* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.ant-layout-content {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("./assets/bg.jpg");
  background-size: auto;
}

/* Cards */
.cardButton {
  margin-top: 10px;
}

.RestaurantCard .ant-card-cover img {
  height: 200px;
  width: auto;
  margin: 5px auto;
}

.PlateCard .ant-card-cover img {
  width: 250px;
  height: auto;
  margin: 5px auto;
}

.DrinkCard .ant-card-cover img {
  height: 300px;
  width: auto;
  margin: 5px auto;
}

.EmployeeCard .ant-card-cover img {
  height: 200px;
  width: auto;
  margin: 5px auto;
}

/* Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.Navbar button {
  height: auto;
  margin-right: 10px;
}

.Navbar .restaurants,
.Navbar .back,
.Navbar .restaurants:focus,
.Navbar .back:focus {
  color: white;
}

.Navbar .restaurants:hover,
.Navbar .back:hover {
  color: #1890ff;
}

/* Lists */
.RestaurantList,
.RestaurantOwnerList,
.PlateCategoryList,
.PlateList,
.EmployeeList,
.DrinkCategoryList,
.DrinkList {
  width: 95%;
  margin: 5px auto;
}

.list {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.795);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

/* Forms */
.SignupPage,
.LoginPage,
.AddRestaurant,
.EditRestaurant,
.AddPlateCategory,
.AddPlate,
.EditPlate,
.AddDrinkCategory,
.AddDrink,
.EditDrink,
.AddEmployee,
.EditEmployee,
.EditUser {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin: 20px auto;
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form button {
  border-radius: 3px;
  width: 30%;
  text-align: center;
  margin: 5px auto;
}

form label {
  font-weight: bold;
}

/* Details page */
.RestaurantDetails,
.PlateDetails,
.DrinkDetails,
.EmployeeDetails,
.UserDetails,
.ErrorPage {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 20px auto;
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.RestaurantDetails button,
.RestaurantDetails .rate,
.PlateDetails button,
.DrinkDetails button,
.EmployeeDetails button,
.UserDetails button {
  border-radius: 3px;
  width: 40%;
  text-align: center;
  margin: 5px auto;
}

.RestaurantDetails img,
.PlateDetails img,
.DrinkDetails img,
.EmployeeDetails img,
.UserDetails img {
  width: auto;
  margin: 5px auto;
}

.RestaurantDetails span,
.PlateDetails span,
.DrinkDetails span,
.EmployeeDetails span,
.UserDetails span {
  font-size: 20px;
}

.RestaurantDetails ul li span svg {
  font-size: 30px;
  margin-bottom: 8px;
}

/* Titles */
h2 {
  font-size: 40px;
  padding-top: 20px;
  font-family: "Roboto Slab", serif;
}

/* Footer */
footer {
  font-family: "Roboto Slab", serif;
}

/* Button in categories pages */
.button1 {
  width: 200px;
}
